{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}
	Blog Dashboard
{% endblock %}

{% block main %}
	<div class="row">
		<div class="col-md-12">
			<h1 class="page-title">Blog Dashboard</h1>
		</div>
	</div>
{% endblock %}
